
<%= simple_form_for(@dev) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
<div class="columns">
  <div class="column is-8 is-centered">
    <div class="columns">
  <div class="form-inputs">
  <div class="field column is-9">
  <div class="control">
    <%= f.input :dev_type %>
     </div>
    <%= f.input :service_type %>
    <%= f.input :language_type %>
    <%= f.input :listing_name %>
    <%= f.input :summary %>
    <%= f.input :location_town %>
    <%= f.input :location_country %>
    <%= f.input :price %>




        <div class="field">
          <div class="control">
            <label class="label">Add images</label>
              <div class="file">
              <label class="file-label">
                <%= f.input :image, as: :file, input_html: { class:"file-input camera-image" }, label: false, wrapper: false %>
                  <span class="file-cta">
                    <span class="file-icon"><i class="fa fa-upload"></i></span>
                    <span class="file-label">Choose a file…</span>
                  </span>
              </label>
              </div>
            </div>
          </div>
          <output id="list"></output>
        <hr />


        <div class="field is-grouped">
          <div class="control">
            <%= f.button :submit, class: 'button is-warning' %>
            <%= link_to 'Cancel', devs_path, class:'button is-light' %>
          </div>
        </div>




        

  
<% end %>
